// Here you can add other styles
body {
    margin-top: 20px;
    background: #eee;
}

.row.row-broken {
    padding-bottom: 0;
}

.col-inside-lg {
    padding: 20px;
}

.chat {
    $height: calc(104vh - 180px);
    height: $height;
}

.decor-default {
    background-color: #ffffff;
}

.chat-users {
    $height: calc(104vh - 180px);
    height: $height;
}

.chat-users h6 {
    font-size: 20px;
    margin: 0 0 20px;
}

.chat-users .users {
    position: relative;
    padding: 0 0 0 50px;
    display: block;
    cursor: pointer;
    margin: 0 0 20px;
}

.chat-users .users .avatar {
    top: 0;
    left: 0;
}

.chat .avatar {
    width: 40px;
    height: 40px;
    position: absolute;
}

.chat .avatar img {
    display: block;
    border-radius: 20px;
    height: 100%;
}

.chat .avatar .status.off {
    border: 1px solid #5a5a5a;
    background: #ffffff;
}

.chat .avatar .status.online {
    background: #4caf50;
}

.chat .avatar .status.busy {
    background: #ffc107;
}

.chat .avatar .status.offline {
    background: #ed4e6e;
}

.chat-users .users .status {
    bottom: 0;
    left: 28px;
}

.chat .avatar .status {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    position: absolute;
}

.chat .chat-users .users .username {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat .chat-users .users .mood {
    font: 200 14px/20px "Raleway", sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/*****************CHAT BODY *******************/

.chat-body h6 {
    font-size: 20px;
    margin: 0 0 20px;
}

.chat-body .answer.left {
    padding: 0 0 0 58px;
    text-align: left;
    float: left;
}

.chat-body .answer {
    position: relative;
    max-width: 600px;
    overflow: hidden;
    clear: both;
}

.chat-body .answer.left .avatar {
    left: 0;
}

.chat-body .answer .avatar {
    bottom: 36px;
}

.chat .avatar {
    width: 40px;
    height: 40px;
    position: absolute;
}

.chat .avatar img {
    display: block;
    border-radius: 20px;
    height: 100%;
}

.chat-body .answer .username {
    font-size: 14px;
    line-height: 36px;
}

.chat-body .answer.left .avatar .status {
    right: 4px;
}

.chat-body .answer .avatar .status {
    bottom: 0;
}

.chat-body .answer.left .text {
    background: #ebebeb;
    color: #333333;
    border-radius: 8px 8px 8px 0;
}

.chat-body .answer .text {
    padding: 12px;
    font-size: 16px;
    line-height: 26px;
    position: relative;
}

.chat-body .answer.left .text:before {
    left: -30px;
    border-right-color: #ebebeb;
    border-right-width: 12px;
}

.chat-body .answer .text:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    border: 18px solid transparent;
    border-bottom-width: 0;
}

.chat-body .answer.left .time {
    padding-left: 12px;
    color: #333333;
}

.chat-body .answer .time {
    font-size: 16px;
    line-height: 36px;
    position: relative;
    padding-bottom: 1px;
}


/*RIGHT*/

.chat-body .answer.right {
    padding: 0 58px 0 0;
    text-align: right;
    float: right;
}

.chat-body .answer.right .avatar {
    right: 0;
}

.chat-body .answer.right .avatar .status {
    left: 4px;
}

.chat-body .answer.right .text {
    background: #7266ba;
    color: #ffffff;
    border-radius: 8px 8px 0 8px;
}

.chat-body .answer.right .text:before {
    right: -30px;
    border-left-color: #7266ba;
    border-left-width: 12px;
}

.chat-body .answer.right .time {
    padding-right: 12px;
    color: #333333;
}


/**************ADD FORM ***************/

.chat .column-height {
    $height: calc(100vh - 180px);
    height: $height;
    padding: 0 20px;
}

.chat .column-height-2 {
    $height: calc(89vh - 180px);
    height: $height;
    background-color: #ffffff;
}

.chat .answer-add {
    clear: both;
    position: relative;
    padding: 20px;
    background-color: #fff;
    border-top: 1px solid #dee2e6;
    width: 100%;
    justify-content: center;
    margin: auto;
}

.table-list .col-id {
    width: 120px;
}

.table-list .col-action {
    width: 150px;
}

.btn-color-white {
    color: #ffffff;
}

.btn-color-white:hover {
    color: #ffffff;
}